@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.gradient-animation {
  background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(59,94,255,1) 50%, rgba(0,212,255,1) 100%);
  background-size: 200% auto;

  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 3s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

/* NAVBAR RESPONSIVENESS */

@media screen and (max-width: 770px) {
  .mobileNav {
    width: 100vw;
    height: 20px;
    flex-direction: row;
    border: none;
  }

  .mobileRow {
    flex-direction: row;
  }
}

@media screen and (max-width: 670px) {
  .phoneDisplayNone {
    display: none;
  }
}

/* HEADER RESPONSIVENESS */

@media screen and (max-width: 770px) {
  .mobileHeader {
    padding-left: 20px;
  }

  .mobileHeaderText {
    font-size: 64px;
  }
}

@media screen and (max-width: 670px) {
  .phoneHeader {
    padding-left: 10px;
  }

  .phoneHeaderText {
    font-size: 54px;
  }
}

/* SKILLS RESPONSIVENESS */

@media screen and (max-width: 770px) {
  .mobileSkills {
    display: grid;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 3px;
    grid-template-columns: 1fr 1fr;
  }

  .mobileSkill {
    flex-direction: column;
    gap: 3px;
  }
}

@media screen and (max-width: 670px) {
  .phoneSkills {
    grid-template-columns: 1fr;
    gap: 6px;
  }
}

/* CONTACT RESPONSIVENESS */

@media screen and (max-width: 770px) {
  .mobileContact {
    padding-left: 20px;
  }

  .mobileButton {
    width: 100%;
  }
}

@media screen and (max-width: 670px) {
  .phoneContact {
    padding-left: 10px;
  }

  .phoneForm {
    width: 75%;
  }

  .phoneInfo {
    flex-direction: column;
  }

  .phoneLabel {
    font-size: 27px;
  }

  .phoneInput {
    width: 100%;
  }

  .phoneTextarea {
    width: 100%;
  }
}

/* FOOTER RESPONSIVENESS */

@media screen and (max-width: 770px) {
  .mobileFooter {
    padding-left: 20px;
  }

  .mobileTitle {
    font-size: 24px;
  }

  .mobileDetail {
    gap: 9px;
  }

  .mobileButton {
    font-size: 18px;
    text-align: left;
  }

  .mobileHeaderText {
    font-size: 64px;
  }
}

@media screen and (max-width: 670px) {
  .phoneFooter {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 3;
    width: 100%;
    padding-right: 15px;
  }

  .phoneDetail {
    gap: 3px;
    flex-direction: column;
    align-items: flex-start;
  }

  .phoneHeaderText {
    font-size: 54px;
  }

  .phoneAlert {
    width: 100%;
    padding: 3px;
    margin-top: 9px;
  }
}